{% extends "base.html" %}

{% block content %}
    <a href="{{ url_for('add_community') }}">+ Add New Community</a>
    <br><br>
    <table>
    {% for c in communities %}
    <tr>
    <td><a href="{{ url_for('edit_client', id=c.id) }}">{{ c.name }}</a></td><td>&emsp;&emsp;</td><td><a href="mailto:"{{ c.email }}>{{ c.email }}</a></td>
    <td>
    <a href="{{ url_for('delete_community', id=c.id) }}"
            onclick="return confirm('Do you want to permanently delete {{c.name}}?');" title="Delete Community">
            <i class="material-icons" style="font-size:16px">delete</i></a>
        </td>
    </tr>
    {% endfor %}
    </table>
{% endblock %}